RewriteEngine On

################ En ligne ######################
# RewriteBase /Public

##### Local dans wamp/www/chefdesfourneaux/ ####
RewriteBase /chefdesfourneaux/Public

####### Local dans wamp/www/PROD/site/ #########
# RewriteBase /PROD/site/Public

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?page=$1 [L]