.recette{
	background-color: rgba(255,255,221,0.2);
	border: solid 1px;
	border-color: rgb(95,95,95);
	border-radius: 10px;
}

h1{
	text-align: center;
	margin-left: 50%;
}

#labelProduitRecette{
	text-align: center;
	font-size: 22px;
}
#produitRecette{
	font-size: 18px;
	text-align: center;
	vertical-align: center;
}
#produitRecette img{
	width: 50%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Commentaires*/
#btnAddCom, #addCommentaire {
	float: right;
}
.headerCom{
	text-align: center;
}
/* Fin Commentaires*/