/* PopUp */

.popUpContainer{
	width: 100%;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	height: 100%;
	opacity: 0.5;
	background-color: #777;
	position: absolute;
	z-index: 998;
	vertical-align: middle;
	display: none;
}

#type{
	background-color: #F00;
}


#popup{
	display: none;
	margin: auto;
	color: #FFF;
	margin-top: 15%;
	width: 40%;
	height: 30%;
	background-color: #000;
	border: 3px;
	position: relative;
	z-index: 2000;	
}

#popup #inputPopUp{
	position: relative;
	z-index: 2001;
}

#row{
	margin: auto;
	position: relative;
	z-index: 2001;
	width: 100%;
	background-color: #777;
	text-align: center;
}
