body{
	max-width: 1600px;
	margin: 0 auto;
}
.contentView{
	background-color: #222;
}

.containerView{
	background-color: #FFF;
}

/* NAVBAR */
/* .containerNav{
	background-color: #FFF;
	font-weight: bold;
	height: 200px;
} */
/* .navbar-nav {
  margin-top: 15px;
  border-radius: 10px;
} */

.lienChefDesFourneaux{
	padding-top: 0px;
}
.lienChefDesFourneaux img{
	width:64%; 
	top:0;
}
.lienMenuChefDesFourneaux{
	width:14.2%;
}

.dropdown-menu{
	width: 100%;
}
.menuLiens{
	text-align: center; 
	position: relative;
	top: 27px;
}

.menuLiens li a{
	padding-left: 30px;
	padding-right: 30px;
}
/* END NAVBAR */

/* SEARCH BAR */
#wrapperSearchBar{
	background-color: #FFF;
	padding: 18px;
	z-index: 10;
} 

/* END SEARCH BAR */



.menu{
	height: 150px;
	position: relative;
	z-index: 20;
	background-color: #FFF;

}
/* CONTENT VIEW */
.content_view{
	margin-bottom: 50px;
}

/* END CONTENT VIEW */

/* AFFILIATION */
#affiliation{
	text-align: center;
	background-color: rgba(255,255,255,1); 
}

#affiliation img{
	width: 50%;
}
/* END AFFILIATION */

/* POPUP */

#showDivContainer{ /* Fond translucide */
	width: 400px;
	height: auto;
	background-color: rgba(255,255,255,0.5);
	display: none;
}

#inputShowDiv{
	background-color: rgba(255,255,255,1);
	color: #FFF;
	background-color: #000;
	border: 3px;
}

.inputTextShowDiv{
	color: #000;
}

#popup #inputPopup{
	position: relative;
	z-index: 2001;
}

#row{
	margin: auto;
	position: relative;
	z-index: 2001;
	width: 100%;
	background-color: #777;
	text-align: center;
}

/* END POPUP */

/* Mise en forme des ingredients*/

.dv_ingredients{
	padding: 10px;
}

/* Fin de la mise en forme des ingrédients */

.buttonNav{
	text-align: right;
}

.buttonNav .btn{
	line-height: 2.5;
	background-color: #E39942;
	color: white;
	width: 100%;

}
/* Mise en forme Panier*/
/* #panier{
	background-color: rgba(222,222,222,1);
	position: inherit;
	z-index: 2000;
	right: 0;
	height: 50px;
	font-size: 18px;
	line-height: 20px;
	display: block;
	float: right;
} */
/* #panier .btn{
	line-height: 2.5;
} */


#panierContent{
	display: inline;
}
/* Fin Mise en forme Panier*/




#easteregg {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #111;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10000;
  display: none;
}


footer{
	text-align: center;
}

footer img{
	width: 60px;
	height: 60px;
	margin-left: 20px;
	margin-right: 20px; 
}


/* 
@media only screen and (max-width:1200px){
    body{
        background: #000;
    }
    .wrapper{
        width: 960px;
    }
} */





/* Responsive
@media (max-width: 1200px) {
	.lienPanier{
		margin-left: 230px;
	}
}

@media (max-width: 990px) {
	.lienPanier{
		margin-left: 160px;
	}
}

@media (max-width: 768px) {
	.panier{
		margin-right: 314px;
		padding-top: 9px;
	}
	
	.lienPanier{
		margin-left: 0px;
		margin-right: 0px;
		top: 0;
		left: 0;
		float: left;
	}
}

@media (max-width: 322px) {
	.panier{
		margin-right: 145px;
		padding-top: 9px;
	}
	
	.lienPanier{
		margin-left: 0px;
		margin-right: 0px;
		top: 0;
		left: 0;
		float: left;
	}
}
@media (max-width: 300px) {
	.panier{
		margin-left: 30px;
		margin-right: 135px;
		padding-top: 9px;
	}
	.lienPanier{
		margin-left: 0px;
		margin-right: 0px;
		top: 0;
		left: 0;
		float: left;
	}
}
Fin Responsive */