.content_view{
	background-color: #F7D7C8;
}
.containerView{
	background-color: #FFF;
}

/* NAVBAR */
.containerNav{
	background-color: #FFF;
	font-weight: bold;
	height: 200px;
}
.navbar-nav {
  margin-top: 15px;
  background-color: #d8ecf2;
  border-radius: 10px;
}
.lienChefDesFourneaux{
	padding-top: 0px;
}
.lienChefDesFourneaux img{
	width:75%; 
	top:0;
}
.lienChefDesFourneaux:hover{
	background-color: #777;
	padding-top: 0px;
}
/* .activeLink{
	background-color: #E4E4E4;
	border-radius: 10px;
} */

/* SEARCH BAR */
#wrapperSearchBar{
	background-color: #d8ecf2;
	margin-top: 10px;
	padding: 6px;

}
#inputTextSearch{
	border-color: #d8ecf2;
}
/* END SEARCH BAR */

/* END NAVBAR */

.separator{
	height: 100px;
}
/* CONTENT VIEW */
.content_view{
	/* margin-top: 70px; */
	margin-bottom: 50px;
}

/* END CONTENT VIEW */


/* POPUP */

#showDivContainer{ /* Fond translucide */
	width: 400px;
	height: auto;
	background-color: rgba(255,255,255,0.5);
	display: none;
}

#inputShowDiv{
	background-color: rgba(255,255,255,1);
	color: #FFF;
	background-color: #000;
	border: 3px;
}

.inputTextShowDiv{
	color: #000;
}

#popup #inputPopup{
	position: relative;
	z-index: 2001;
}

#row{
	margin: auto;
	position: relative;
	z-index: 2001;
	width: 100%;
	background-color: #777;
	text-align: center;
}

/* END POPUP */

/* Mise en forme des ingredients*/

.dv_ingredients{
	padding: 10px;
}

/* Fin de la mise en forme des ingrédients */

/* Mise en forme Panier*/
.lienPanier{
	margin-left: 330px; 
}
#panier{
	/*background-color: rgba(222,222,222,1);*/
	position: inherit;
	z-index: 2000;
	right: 0;
	height: 50px;
	font-size: 18px;
	line-height: 20px;
	display: block;
	float: right;
}
#panier .btn{
	line-height: 2.5;
}

#panier .btn-default{
	background-color: rgba(65,193,235,0.5);
	font-weight: bold;
}

#panierContent{
	display: inline;
}
/* Fin Mise en forme Panier*/




#easteregg {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #111;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10000;
  display: none;
}


/*Responsive*/
@media (max-width: 1200px) {
	.lienPanier{
		margin-left: 230px;
	}
}

@media (max-width: 990px) {
	.lienPanier{
		margin-left: 160px;
	}
}

@media (max-width: 768px) {
	.panier{
		margin-right: 314px;
		padding-top: 9px;
	}
	
	/* .lienPanier{
		margin-left: 0px;
		margin-right: 0px;
		top: 0;
		left: 0;
		float: left;
	} */
}

@media (max-width: 322px) {
	.panier{
		margin-right: 145px;
		padding-top: 9px;
	}
	
	.lienPanier{
		margin-left: 0px;
		margin-right: 0px;
		top: 0;
		left: 0;
		float: left;
	}
}
@media (max-width: 300px) {
	.panier{
		margin-left: 30px;
		margin-right: 135px;
		padding-top: 9px;
	}
	.lienPanier{
		margin-left: 0px;
		margin-right: 0px;
		top: 0;
		left: 0;
		float: left;
	}
}
/* Fin Responsive */