

/* SLIDER */
.carousel-indicators{
	bottom: 60px;
}
#myCarousel{
	position: relative;
	bottom: 113px;
}
/* END SLIDER */

/* Position */
.containerViewIndex{
	position: relative;
	bottom: 117px;
}

.img-circle{
	width: 200px;
	height: 200px;
}

.textHoverImg{
	
	font-family: 'Origin';
	/* font-size: 22px; */
	text-align: center;
	height: 70px;
	background-color: #FFF;
	position: relative;
	z-index: 20;
	margin-bottom: 0px;
	bottom: 70px;
}
.textHoverImg h3{
	line-height: 1.5;
}

.legendeImg{
	text-align: center;
}
