/* Spécifique à adminproduit/indexproduit */
.ajouterProduitShowDiv{
	display: none;
}
/* Fin spécifique */

/* Spécifique à vente/indexproduit */
#btnAcheterProduit{
	width: 100%;
}
/* Fin spécifique */

#labelProduits{
	font-size: 30px;
}

#labelPrix{
	font-size: 30px;
}
#labelPrixProduit{
	font-size: 22px;
}

#labelValueProduit{
	font-size: 22px;
}
img{
	width:40%;
}