body {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(255,255,255,0.5);
   
}
.backgroundImage{
  opacity: 0.4;
  width: 100%;
  position: absolute;
  z-index: 1;
  position: fixed;
  top: 0;
}

h1, p{
  text-align: center;
}

h1{
  font-family: "Origin", Helvetica, Arial, sans-serif;
}

a{
  color: #63431D;
}

.logoImg{
  text-align: center;
  position: relative;
  margin-bottom: 48px;

}


/* Pages login, inscription, profil, delete */
.form-signin {
  background-color: transparent;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  z-index: 20;
  position: relative;
  text-align: center;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin input.form-password{
  margin-bottom: 0;
}

.btn{
  background-color: #E39942;
  border-color: #E39942;
}
.btn:hover{
  background-color: #E39942;
  border-color: #E39942;
}


/* Page En construction */
.enconstruction{
  position: relative;
  z-index: 20;
}
